*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-size: cover; /* Garante que o fundo cubra toda a tela */
    background-attachment: fixed; /* Faz o fundo permanecer fixo durante o scroll */
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    flex-direction: column;
    border-bottom: solid 2px black;
    margin-top: 10px;
}



.logo {
    width: 100px;
}

.divTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title {
    font-size: 10px;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px; 
    padding: 8px;   

}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.textTitle {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 15px;

}

.text {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    
}

.sectionClient {
    text-align: center;
    margin-top: 15px;
}

.sectionClient .imageContainer {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 8px;
  }

  .imgClient {
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

.footer {
   border-top: solid 2px black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   width: 100%;

}

.info {
    margin-top: 8px;

}

.info div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icon {
    width: 40px;
}

